<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goalkeeper.matheus.goalkeeper">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_min"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroGoleiro"
            android:label="@string/title_activity_cadastro_goleiro"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroPartida"
            android:label="@string/title_activity_cadastro_partida"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="goalkeeper.matheus.goalkeeper.AlteraGoleiro"
            android:label="Editar Goleiro"
            android:parentActivityName=".PerfilGoleiro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="goalkeeper.matheus.goalkeeper.Partidas"
            android:label="Partidas"
            android:parentActivityName=".PerfilGoleiro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="goalkeeper.matheus.goalkeeper.PerfilGoleiro"
            android:label="Perfil do Goleiro"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DialogTipoJogada"
            android:label="Tipo de Jogada"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".FinalizarPartida"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".resultados.ItemListActivity"
            android:label="@string/title_item_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".resultados.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".resultados.ItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="goalkeeper.matheus.goalkeeper.resultados.ItemListActivity" />
        </activity>
        <activity
            android:name=".jogadas.JogadaOfensivaTela"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jogadas.TiroMetaTela"
            android:label="Tiro de Meta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jogadas.JogadaDefensivaTela"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerParciais"
            android:label="Parciais"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jogadas.DominioTela"
            android:label="Cadastrar Domínio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jogadas.ReporMaoTela"
            android:label="Reposição com Mão"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jogadas.ReporVoleioTela"
            android:label="Reposição Voleio"
            android:screenOrientation="portrait" />
        <activity android:name=".jogadas.DefSaidaTela" />
        <activity android:name=".jogadas.DefPeTela" />
        <activity android:name=".jogadas.DefCaidaTela" />
        <activity android:name=".jogadas.DefSobreCabecaTela" />
        <activity android:name=".jogadas.DefBaseTela" />
        <activity android:name=".jogadas.DefPunhoTela" />
        <activity android:name=".PartidaDetalhes" />
        <activity android:name=".Detalhe"
            android:parentActivityName=".resultados.ItemListActivity"
            android:label="Detalhe"></activity>
    </application>

</manifest>